

#google_maps {
    border: 1px solid red;
    h2 {
        color: $gm_titre;
        text-align: center;
    }
    iframe {
        width: 70%;
        height: 350px;
        border-radius: 10px;
    }
}